@page "/about"
@using Color =MudBlazor.Color
@using Transition =MudBlazor.Transition
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">

</style>
<br />
<br />
<br />

<MudCarousel Class="mud-width-full" Style="height:45vh;" AutoCycleTime="new TimeSpan(35000000)" AutoCycle="true" TData="object">

    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit" />
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" />
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
     
        <MudCarouselItem Color="@Color.Info" Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDow">
            <div align="center" style="height:100%">
                <h3 align="center">Connect with me</h3>
                <p align="center">
                    <a href="https://linkedin.com/in/yicheng-yang-5aa583119" target="blank"><img align="middle" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="" height="30" width="40" /></a>
                </p>
            </div>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>




