@page "/"

@inject IConfiguration _configuration

    @using Color =MudBlazor.Color
    @using Transition =MudBlazor.Transition




<MudContainer  Style="width:85vw">
    @if (loading)
    {

        <Pulse />
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <style type="text/css">

        .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
        }

        .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
        }

        .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
        }

        .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
        }

        .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
        }

        .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
        }

    </style>
    <br />
    <br />
    <br />

    <MudText Typo="Typo.h6" align="MudBlazor.Align.Center">Coucou 👋, Nous sommes le moto club de la côte d'Emeraude! ✌🏼</MudText>
    <br />
    <h1 align="center"><Typewriter Builder="@typewriter" /></h1>

    <br />
    <MudCarousel Class="mud-width-full" Style="height:75vh; overflow:visible" AutoCycleTime="new TimeSpan(80000000)" AutoCycle="true" TData="object">


        <ChildContent>

            @if (mediaAssetsToShow.Count < 1)
            {
                <p>Loading</p>
            }
            else
            {
                foreach (var i in mediaAssetsToShow)
                {
                    <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <div align="center" style="width:90%">
                            <img align="middle"
                                 src="https://mcce.duckdns.org@(i.Path)"
                                 alt="" />
                        </div>
                    </MudCarouselItem>
                }
            }

        </ChildContent>
    </MudCarousel>

    <Turnstile @bind-Token="@_turnstileToken"
               SiteKey="0x4AAAAAABcyIhVKJBHDrxGr"
               Appearance="@TurnstileAppearance.Always"
               Execution="@TurnstileExecution.Render"
               Theme="@TurnstileTheme.Light"
               OnCallback="@TurnstileCallback"
               OnErrorCallback="@TurnstileErrorCallback"
               ResponseField="@false" />
</MudContainer>

@code {




}