@page "/"

@inject IConfiguration _configuration

    @using Color =MudBlazor.Color
    @using Transition =MudBlazor.Transition

<MudContainer  Style="width:85vw">
    @if (loading)
    {

        <Pulse />
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <style type="text/css">

        .bounceIn {
            opacity: 0;
            animation-delay: 0.5s;
            animation-duration: 0.5s;
            animation-name: bounceIn;
            animation-fill-mode: forwards;
        }

        .bounceOut {
            animation-duration: 0.5s;
            animation-name: bounceOut;
            animation-fill-mode: forwards;
        }

        .backInDown {
            opacity: 0;
            animation-delay: 0.5s;
            animation-duration: 0.5s;
            animation-name: backInDown;
            animation-fill-mode: forwards;
        }

        .backOutDown {
            animation-duration: 0.5s;
            animation-name: backOutDown;
            animation-fill-mode: forwards;
        }

        .rotateIn {
            opacity: 0;
            animation-delay: 0.5s;
            animation-duration: 0.5s;
            animation-name: rotateIn;
            animation-fill-mode: forwards;
        }

        .rotateOut {
            animation-duration: 0.5s;
            animation-name: rotateOut;
            animation-fill-mode: forwards;
        }

    </style>
    <br />
    <br />
    <br />
   
    <MudText Typo="Typo.h6" align="MudBlazor.Align.Center">Coucou 👋, Nous sommes le moto club de la côte d'Emeraude!</MudText>
    <br />
    <h1 align="center"><Typewriter Builder="@typewriter" /></h1>
  
    <br />
    <MudCarousel Class="mud-width-full" Style="height:65vh; overflow:visible" AutoCycleTime="new TimeSpan(50000000)" AutoCycle="true" TData="object">


        <ChildContent>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/465723931_10224859794302786_4080929696982906655_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=2285d6&_nc_ohc=isEd7Ud4CG8Q7kNvgEutiwC&_nc_oc=AdiLuvSC8hVfaWJFejSWss2WLOsUUH3xRoUIGeChNMTAgGsZKC8xyUjdTJDeyWMBgsFeH8xdvhuoC1-YO6m1u4K4&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=AZH5iXn0g_nSrLyfOe6C7-D&oh=00_AYBBrnx7TQGmOpXpdCbsj8wY_Wz2m4OlfjuhT9c4pK0AxQ&oe=67B0F017"
                        alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/468864689_10225282316905587_7217394539327778311_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=9UCUZ_BQyr8Q7kNvgFDuQ7B&_nc_oc=AdjclcabhUiZ_I8gb9CtOj9wd5Q77-kbm4HQzgAq_ijzFEYK4SyBFwrVdvBaH1BhQFHXU_cgCy79Xy4z8cigggjv&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=AiuwxQ3414dxxmU-ZrzHSkO&oh=00_AYBIyk04wlx0n05dlf51GQ0kKOFsqQ2ZOmq3khVKY8HK4Q&oe=67B12C4B"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/469777453_10226375717450344_8515300975545331020_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=6-xrj6CYyvoQ7kNvgH20X6D&_nc_oc=AdgVRucinL81VEv2Tu9KeoSwfEtCBxg_Y2diV_6oc91tQINv-yf8epOzxVrr_YIdkjEVyJ80xnGh5TrvjdkABcBA&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=AN7Iv3UUDrrgQoy7w84In14&oh=00_AYBIrjWRBZqwDnlRPicjlzRoEyeMiswbH0IJk0fdShpuQg&oe=67B130F4"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/468421144_10225282325625805_4337141440916040273_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=laUUkROM05EQ7kNvgHQU2YR&_nc_oc=AdhlB_dl3nTTP9ZNiFDpRgnjf_Ig_JXlKckeVgGDF78FfLH2L9_9uOM5_wTb2P9GYCmmSJHc-EHfLj9E1jSJ2T3m&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=AmEFmS6fs79VgNkaR_d1i-3&oh=00_AYApr3vaSEUrCWv0f_uhkZgFh9Nz6vsMRpbZ_RtQUB6qYA&oe=67B10D99"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/468650588_10225282325425800_3619890942587106809_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=5W4I_4qapjkQ7kNvgH2xFNb&_nc_oc=Adg22L4lYm8N7NSvtV8oR_Waol4twsKjpm1LPW6VIO0crE8f8tJagn27ZeFmUn2nhL9knk3NRqqrrTHbUpPGf2Un&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=AeiaKnPWgAN4ArkcGdkGTmt&oh=00_AYDYUekVq_lAcscLwy79W0Nmy0YP0Ka-uTsbZECN2aIZpg&oe=67B10EB6"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/468940049_10225282323945763_6297063675963664102_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=fSJh5oIIEtcQ7kNvgEm3uHm&_nc_oc=AdigrTs3FY2_o7g7-iayMsV1JHJhYo1Wj6gU_tEY_onoamcTcUNjQs97_4KnaUCJMtVH54rHd5CeKFBJGiAaP0kp&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=AOdgQZq990-zRSJhgNDNErI&oh=00_AYDfymimBO6hS3tRPT9bgQ402sxqffwUfjOyJVKYHpIM4g&oe=67B12756"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" style="height:100%"
                         src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/468185948_10225282322865736_1975571343220425462_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=WQkqr_0tleAQ7kNvgFTwwKU&_nc_oc=AdgUTYRFhY4eRfT12F_bp6AMkQc8062nwcnO_lLi7fj5TdW-S6XTc19pLdvG4XFHFHsvR-Yjn69zEIlaK-f2F8YW&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=AVTzLVFQq4Ws2G68BTKGfFX&oh=00_AYAD4KaKnEs9NLKinW6VTFdtfZzVAzwR7RbVbuutse7glQ&oe=67B11C45"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/468715906_10225282321705707_9175511564254157843_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=v4rnb7vrpjwQ7kNvgEw9dxJ&_nc_oc=AdivQK9EA0mr5kj7REhnoN86zPPGnxcT5KX06cfmklIvhpOp_PLZYzdQ-MSKpTZpAUS60Om2NJhi119npUBO3soP&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=A53yp2Sm8XRolsKW_oxoHZG&oh=00_AYALuEKfP0PHhnZTEzE0GpW28ABiXZSAP8B-qvVPbmFPlg&oe=67B12C38"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle" 
                         src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/469351997_9258973597480386_1816941450067776620_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=108&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=Gj4GyGeLTm4Q7kNvgFKe0kt&_nc_oc=AdgQBtASh8y4iHRz7t83LbK3DPKuj8HBBq87AxiWyQ0B5tTw22CMl2YedfDu06s0zI99KWwHaT7u-DC9DL2axoIN&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=AjQZ3tsgTxhpr7pFOSsxNjz&oh=00_AYAL0YNU4Dvwq2MgDYBoOfEI_ejYjdq7WvBAb7ok6xrsDw&oe=67B11C6D"
                         alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle"  src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/468525637_620559450309306_5492288276678516731_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=QdpSGjPb9BoQ7kNvgEAMuDH&_nc_oc=AdhzmB0C9yUjta16m7FQ7xhb3zFt0Bo0ZIKJPJ8aOvHGJ0Ai_6UcGqmGDtYete-DHS5ujx8WIfs-4AQFprA2LDVr&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=A8vWC48wdWGyAijUUQ2RURo&oh=00_AYAeU1Eauh5eHYWZFEdayRbJwHmO5OKs6kYPWLCxDhyx8A&oe=67AE3E6A" alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle"  src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/470146625_10225336732905953_394271829378386781_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=3LNOOI_fqUYQ7kNvgGoa6hk&_nc_oc=AdiIOzyU_CrdFRI7K1apBneM1Ggt6Xef8YxuzjIJ5p6Yeat7qaRuYsv5Yv_vHyoXV2AFV2xV8hGfjMbVtGwXmqO5&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=ALF-9mJh5XRzyMk3wy21wGV&oh=00_AYAu8XtA6LXe0He6-98IfFWkDZCjQdZxAEDjIBSzHUkMlg&oe=67B12DFD" alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle"  src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/470209341_10225336738146084_1892706407760460053_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=nlBLeuhuKyQQ7kNvgHvvnaP&_nc_oc=Adj9GzMvFcQkHIV2Fn9Hy8khStMWaen7UZqzJJ3yQzD8nnxyIwbgieCXNuQ6HCrr6ZDHRJPLfEWTvTFfLpS_l4rA&_nc_zt=23&_nc_ht=scontent-cdg4-3.xx&_nc_gid=AHJOuRod2RApjMJEfNa_Mns&oh=00_AYAWJiIXTHBNbQwugzFzFtCGpmSzCpMqICcmAUY7PTJCnA&oe=67B0FFCA" alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle"  src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/470160121_10225336752746449_6905823058901772279_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=RjcdhSaaRtUQ7kNvgEmAVu8&_nc_oc=AdjVvoV9te6CypchK7fIlFBm-Pu2MQhphmttB0j9aYaqoc5ax4qbcRwo_5Ru2AflSoN1UIirpNL8dSvGftpA74ox&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=Apxg_wA-yQTekHAQ1jEuQ5l&oh=00_AYCTTC02guGY5MV2ufsOWJuOPgwEBt0Nrf59Tmh8Xf1rew&oe=67B0FD74" alt="" />
                </div>
            </MudCarouselItem>

            <MudCarouselItem Style="@(_bgWhite)" Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                <div align="center" style="height:100%">
                    <img align="middle"  src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/474906704_10225511326710689_663832729198042282_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=105&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=-Ah3gMOV9LYQ7kNvgG0oTTj&_nc_oc=AdjTMOiFpzRCc8zqCYjfsMQiFjwgyt0Hi0iGX1LHWkf7GQ3DQaQ6mW9PNUoOihRw6uriBBANftjj6S5H5IcJvFG0&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=AaQFZCF_Jq186b1xZZ__MxH&oh=00_AYBMNJX33q_BEmys8zktemNW5tYBEUBjW92iYU5HVo5yxw&oe=67B03DB5" alt="" />
                </div>
            </MudCarouselItem>
        </ChildContent>
    </MudCarousel>


</MudContainer>

@code {
    private string AnimationEntrance = "bounceIn";
    private string AnimationExit = "bounceOut";
    private bool loading { get; set; }
    string _bgCyanLighten1 = $"background:{Colors.Cyan.Lighten1};";
    string _bgWhite = $"background:white;";

    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
    .TypeString("Un jour, nos routes se croiseront.")
    .Pause(2000)
    .DeleteAll()
    .TypeString(" Un regard, un signe de motard, un instant de fraternité sur l'asphalte.", 50)
    .Pause(2000)
    .DeleteAll(30)
    .TypeString(" Peu importe la moto, peu importe la destination, ce qui compte, c'est le voyage et la passion qui nous unit.", 20)
    .Pause(2000)
    .DeleteAll(20)
    .TypeString(" Bonne route et vive la moto ! 🏍️🔥🚀", 20)
    .Pause(2000)
    .DeleteAll(20)
    .Pause(500)
    .Loop();



}