@page "/"

@inject IConfiguration _configuration

    @using Color =MudBlazor.Color
    @using Transition =MudBlazor.Transition

<MudContainer>
    @if (loading)
    {

        <Pulse />
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <br />
    <br />
    <br />
   
    <MudText Typo="Typo.h6" align="MudBlazor.Align.Center">Coucou 👋, Nous sommes le moto club de la côte d'Emeraude!</MudText>
    <br />
    <h1 align="center"><Typewriter Builder="@typewriter" /></h1>
  
    <br />
    <MudCarousel Class="mud-width-full" Style="height:65vh;" AutoCycleTime="new TimeSpan(50000000)" AutoCycle="true" TData="object">

        <PreviousButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit" />
                </span>
            </div>
        </PreviousButtonTemplate>
        <NextButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" />
                </span>
            </div>
        </NextButtonTemplate>
        <ChildContent>

            <MudCarouselItem Style="@(_bgCyanLighten1)" Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                <div align="center" style="height:100%">
                    <img align="middle" src="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/468525637_620559450309306_5492288276678516731_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=QdpSGjPb9BoQ7kNvgEAMuDH&_nc_oc=AdhzmB0C9yUjta16m7FQ7xhb3zFt0Bo0ZIKJPJ8aOvHGJ0Ai_6UcGqmGDtYete-DHS5ujx8WIfs-4AQFprA2LDVr&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=A8vWC48wdWGyAijUUQ2RURo&oh=00_AYAeU1Eauh5eHYWZFEdayRbJwHmO5OKs6kYPWLCxDhyx8A&oe=67AE3E6A" alt="" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="@(_bgCyanLighten1)" Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
                <div align="center" style="height:100%">
                    <img align="middle" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/474906704_10225511326710689_663832729198042282_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=105&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=-Ah3gMOV9LYQ7kNvgG0oTTj&_nc_oc=AdjTMOiFpzRCc8zqCYjfsMQiFjwgyt0Hi0iGX1LHWkf7GQ3DQaQ6mW9PNUoOihRw6uriBBANftjj6S5H5IcJvFG0&_nc_zt=23&_nc_ht=scontent-cdg4-1.xx&_nc_gid=AaQFZCF_Jq186b1xZZ__MxH&oh=00_AYBMNJX33q_BEmys8zktemNW5tYBEUBjW92iYU5HVo5yxw&oe=67B03DB5" alt="" />
                </div>
            </MudCarouselItem>
        </ChildContent>
    </MudCarousel>


</MudContainer>

@code {
  
    private bool loading { get; set; }
    string _bgCyanLighten1 = $"background:{Colors.Cyan.Lighten1};";

    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
    .TypeString("Un jour, nos routes se croiseront.")
    .Pause(2000)
    .DeleteAll()
    .TypeString(" Un regard, un signe de motard, un instant de fraternité sur l'asphalte.", 50)
    .Pause(2000)
    .DeleteAll(30)
    .TypeString(" Peu importe la moto, peu importe la destination, ce qui compte, c'est le voyage et la passion qui nous unit.", 20)
    .Pause(2000)
    .DeleteAll(20)
    .TypeString(" Bonne route et vive la moto ! 🏍️🔥🚀", 20)
    .Pause(2000)
    .DeleteAll(20)
    .Pause(500)
    .Loop();



}