@page "/legal"
<div class="stack">
	<div class="paper" id="paper1"></div>
	<div class="paper" id="paper2"></div>
	<div class="paper" id="paper3">
		<a href="https://exchange-judo-univ-rennes.duckdns.org/" title="Exchange Judo UNIV Rennes">
			<svg id="caddy" width="10%" height="10%" viewBox="0 0 512.000000 512.000000" version="1.1" xmlns="http://www.w3.org/2000/svg"
				 xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
				 style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;">

			<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
			   fill="#000000" stroke="none">
			<path d="M2058 4724 c-65 -20 -114 -70 -182 -186 -36 -62 -67 -103 -84 -112
				   -15 -7 -138 -59 -274 -114 -136 -56 -266 -113 -290 -128 -60 -38 -152 -128
				   -187 -183 -50 -78 -1032 -2144 -1037 -2181 -9 -68 3 -77 386 -276 211 -109
				   366 -184 383 -184 72 0 66 -10 343 585 200 429 260 550 265 533 4 -13 12 -159
				   18 -325 6 -167 16 -314 21 -329 14 -35 13 -271 -1 -279 -21 -14 -32 -70 -105
				   -563 -71 -481 -73 -505 -58 -537 32 -69 -51 -65 1304 -65 1356 0 1271 -4 1304
				   65 15 32 15 43 -4 165 -11 72 -24 139 -30 150 -21 40 -92 39 -122 -1 -20 -26
				   -19 -39 7 -196 l6 -33 -832 0 -831 0 7 37 c3 21 45 207 91 413 60 264 90 379
				   102 388 9 8 39 25 65 38 45 23 50 24 72 10 35 -23 295 -23 330 0 23 15 27 14
				   87 -17 46 -25 106 -76 224 -191 158 -154 162 -158 204 -158 41 0 48 5 146 101
				   62 62 105 112 109 129 8 38 -8 74 -61 130 l-47 50 96 0 c92 0 97 -1 102 -22 3
				   -13 16 -102 30 -198 14 -96 30 -187 36 -202 16 -39 59 -54 98 -34 17 9 33 27
				   37 42 6 24 -37 356 -58 441 -6 23 -16 48 -24 54 -17 14 -20 242 -4 283 5 15
				   15 162 21 329 6 166 14 312 18 325 5 17 65 -104 265 -533 277 -595 271 -585
				   343 -585 17 0 172 75 383 184 383 198 395 207 386 276 -4 32 -979 2089 -1029
				   2170 -35 57 -137 159 -197 195 -30 18 -163 77 -295 130 -132 53 -252 104 -267
				   111 -17 9 -49 50 -84 112 -70 119 -117 166 -186 187 -74 22 -928 21 -1000 -1z
				   m889 -199 l-22 -55 -365 0 -365 0 -22 55 -21 55 408 0 408 0 -21 -55z m-822
				   -292 c54 -135 106 -254 117 -265 40 -40 118 -5 118 54 0 15 -22 84 -50 153
				   -27 69 -50 130 -50 135 0 12 600 14 600 3 1 -15 -294 -753 -301 -753 -3 0 -20
				   37 -38 83 -39 99 -54 117 -98 117 -41 0 -73 -30 -73 -68 0 -15 29 -100 65
				   -189 72 -180 70 -151 19 -270 l-16 -38 -233 585 -233 585 32 57 c17 32 34 58
				   37 58 3 0 50 -111 104 -247z m1017 177 l26 -45 -315 -790 c-421 -1059 -445
				   -1125 -432 -1163 14 -40 58 -59 99 -42 23 10 34 26 56 84 80 212 498 1271 711
				   1804 3 6 9 12 14 12 21 0 478 -194 521 -221 70 -45 122 -108 171 -206 85 -169
				   957 -2001 957 -2010 0 -7 -548 -293 -576 -301 -6 -2 -149 294 -318 656 l-306
				   658 15 340 c20 460 20 489 -5 514 -26 26 -81 26 -104 1 -10 -11 -20 -37 -22
				   -58 -2 -21 -18 -375 -34 -788 -16 -412 -32 -798 -36 -857 l-6 -108 -395 0
				   -395 0 -20 25 c-29 37 -80 48 -216 44 -67 -2 -122 -3 -122 -3 0 1 7 21 15 44
				   31 88 9 150 -54 150 -49 0 -68 -27 -105 -145 l-34 -110 -62 -3 c-60 -3 -62 -2
				   -55 20 133 426 193 586 617 1656 283 715 364 910 374 900 6 -7 23 -33 36 -58z
				   m-1127 -612 c103 -260 218 -549 255 -643 49 -123 66 -175 60 -190 -95 -236
				   -200 -522 -281 -767 l-102 -308 -192 0 -193 0 -6 103 c-3 56 -20 440 -36 852
				   -16 413 -31 769 -34 793 -2 24 -12 52 -21 62 -24 26 -79 26 -105 0 -25 -25
				   -25 -54 -5 -514 l15 -340 -306 -658 c-169 -362 -312 -658 -318 -656 -30 8
				   -576 294 -576 302 0 9 860 1816 952 1999 51 103 101 165 168 212 36 25 500
				   223 526 224 7 1 96 -212 199 -471z m-329 -2388 c-85 -91 -84 -125 6 -217 l61
				   -62 -62 -278 c-34 -153 -65 -288 -68 -300 -5 -22 -9 -23 -115 -23 l-110 0 6
				   27 c3 16 33 219 66 453 34 234 63 431 65 438 3 8 32 12 101 12 l97 0 -47 -50z
				   m289 -546 c-36 -159 -68 -297 -71 -306 -4 -15 -17 -18 -65 -18 -32 0 -59 4
				   -59 8 0 8 91 417 105 474 4 15 16 29 28 32 12 3 44 28 71 55 28 28 51 49 53
				   47 2 -1 -26 -133 -62 -292z" />
			<path d="M4545 1900 c-82 -43 -155 -87 -162 -96 -31 -43 5 -114 58 -114 37 0
				   335 154 349 180 27 50 -9 110 -66 110 -17 -1 -93 -34 -179 -80z" />
			<path d="M342 1957 c-24 -25 -28 -57 -12 -87 12 -23 314 -180 346 -180 14 0
				   36 11 49 25 26 26 31 54 15 85 -13 25 -313 180 -348 180 -17 0 -38 -10 -50
				   -23z" />
				   </g>
				   </svg>
		</a>
		<h1>
			Mentions légales
		</h1>
		<div id="disclaimer">
			<p>
				Ce site est un projet <b class="warn"> non lucratif</b>, créé pour partager des informations et organiser des événements pour les passionnés de moto.
				Nom de l’hébergeur : Cloudflare /
				Adresse de l’hébergeur : Cloudflare, Inc. United States of America
			</p>

			<h3> Nature du site</h3>
			<p>
				Ce site a pour objectif de mettre à disposition des informations sur les activités du Moto-Club de la Côte d'Émeraude.
				Il permet aux membres et aux passionnés de suivre nos sorties, événements et actualités.
				Le site n’a aucune vocation commerciale et ne génère <b class="warn"> Aucun</b> revenu.
				<b class="warn"> Aucune</b> donnée personnelle n’est collectée ou traitée via ce site.
			</p>

			<h3> Droits d’auteur</h3>
			<p>
				Les textes, images et autres contenus présents sur ce site sont protégés par le droit d’auteur, sauf mention contraire.
				Toute reproduction, modification ou distribution sans autorisation explicite est interdite.
				Si vous êtes titulaire des droits sur un contenu et souhaitez demander son retrait, veuillez nous contacter à l’adresse indiquée ci-dessus.
			</p>

			<h3> Droits d’image</h3>
			<p>
				Ce site peut contenir des photos et vidéos prises lors des événements du Moto-Club de la Côte d'Émeraude.
				Si vous apparaissez sur une image et souhaitez qu’elle soit retirée, veuillez nous contacter et nous la supprimerons dans les plus brefs délais.
			</p>

			<h3> Limitation de responsabilité</h3>
			<p>
				Les informations et fichiers mis à disposition sont fournis à titre purement informatif. Le Moto-Club de la Côte d'Émeraude ne peut être tenu responsable de l’utilisation qui en est faite.
				Bien que nous veillions à la qualité des contenus, <b class="warn"> Aucune</b> garantie n’est donnée quant à leur exactitude ou leur actualité.
				Ce site ne collecte <b class="warn"> Aucune</b> information personnelle.
				<b class="warn"> Aucun</b> cookie n’est utilisé pour le suivi ou la personnalisation. <b class="warn"> Aucune</b> inscription ou formulaire n’est proposé sur ce site.
			</p>
			<div id="disclaimer">
			</div>
				<div id="disclaimer">
					The maintainer of this site is not responsible for the content, disposition, or behavior of this Web
					property, which is independently owned and maintained. For inquiries, please contact the site owner or
					hosting provider.
				Pour toute question ou demande concernant le site, vous pouvez nous écrire à : <a href="mailto:motopleurtuit@gmail.com">motopleurtuit@gmail.com</a>.
				Ou rejoingnez <a href="tel:+33299460838">+33 (0)2 99 46 08 38</a>
				</div>
		</div>

	</div>
</div>
<details>
    <summary>More info</summary>
    <div>

        <section>
        </section>
        <section>
            <p>Runtime information</p>
            <p>@RuntimeInformation.FrameworkDescription / @RuntimeInformation.ProcessArchitecture</p>
            <p>@RuntimeInformation.OSDescription / @RuntimeInformation.OSArchitecture</p>
            <p>@RuntimeInformation.RuntimeIdentifier </p>
        </section>

    </div>
</details>
@code {

}
